@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	background-color: rgb(62, 194, 148);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#survey-form {
	border-radius: 20px;
	display: flex;
	padding: 20px;
	flex-direction: column;
	background-color: rgb(37, 114, 88);
	width: 60%;
}

#dropdown {
	margin-top: 2px;
}

#survey-form label {
	margin: 10px 0 5px;
}

#options-radio {
	display: flex;
	flex-direction: column;
}

#options-checkbox {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

#comments {
	display: flex;
	flex-direction: column;
}

#submit {
	background-color: rgb(62, 194, 148);
	color: white;
	border: 0;
	width: 20%;
	height: 30px;
	margin-top: 5px;
}